.Side-bar
  .Side-bar__header
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to"#"
        = icon("far fa-edit", class: "Top-items__icons--edit")
        = link_to edit_user_path(current_user) do
        = icon("fas fa-cog", class: "Top-items__icons--config")

  .Side-bar__messages
    .Side-bar__group-list
      .Side-bar__group-list__name
        techcamp
      .Side-bar__group-list__message 
        まだメッセージはありません
    .Side-bar__group-list
      .Side-bar__group-list__name
        techcamp
      .Side-bar__group-list__message 
        まだメッセージはありません
    .Side-bar__group-list
      .Side-bar__group-list__name
        techcamp
      .Side-bar__group-list__message 
        まだメッセージはありません
    

  